@import url(https://fonts.googleapis.com/css?family=Lato:300italic,400italic,700italic,100,300,400,700);

/* -----------------------------------------------------------------------------
    Page
 ---------------------------------------------------------------------------- */
html,
body {
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-size: 13px;
    color: black;
    
    min-width: 800px;
    min-height: 400px;
}

body,
.ui-widget {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body,
h2,
h3 {
    font-weight: 300;
}

.code,
.CodeMirror { 
    font-family:  monospace;
}

body header {
    position: relative;
    box-sizing: border-box;
    height: 32px;
    border-bottom: 1px solid gray;
    background: #333;
    color: #FF5A00;
    z-index: 500;
}

#jakal-logo {
    height: 31px;
    display: block;
    float: left;
    padding: 0 0.5em;
    border-right: 1px solid gray;
}

#jakal-logo:hover {
    background: #FF5A00;
}

#container {
    box-sizing: border-box;
    height: 100%;
   
    margin-top: -32px;
    padding-top: 32px;
}

/* -----------------------------------------------------------------------------
    Panes
 ---------------------------------------------------------------------------- */
.ui-layout-pane {
    border: none !important;
}

.ui-layout-resizer {
    border: none;
}

.pane {
    position: relative;
    padding: 0;
    margin: 0;
    width: auto;
}

.ui-tabs-anchor:hover {
    background: #FF5A00;
}

.ui-state-active .ui-tabs-anchor:hover {
    background: inherit;
}

.pane-header {
    border-bottom: 1px solid gray;
}

.pane-header .ui-tabs-nav {
    padding: 0;
}

.pane-header .ui-widget-header {
    background: lightgray;
    border: 0;
    margin: 0;
    padding: 0;
}

.pane-header .ui-tabs-nav li {
    display: block;
    float: left;
    margin: 0;
    
    border: 0;
    border-radius: 0;
    border-right: 1px solid gray;
}

.pane-header .ui-tabs-nav .ui-tabs-anchor {
    display: block;
    margin: 0;
    padding: 0 0.25em;
    height: 100%;
    height: 22px;
    min-width: 22px;
    text-align: center;
    outline: none;
}

.pane-header .ui-tabs-nav .ui-tabs-anchor .ui-icon {
    display: inline-block;
}


.pane-title {
    font-size: 1.2em;
    margin: 0 0.25em;
    padding: 0 0.25em;
}

/* -----------------------------------------------------------------------------
    Code Mirror
 ---------------------------------------------------------------------------- */
.CodeMirror {
    box-sizing: border-box;

    margin-bottom: 0;
    padding-bottom: 0;
}

.CodeMirror * {
    box-sizing: content-box;
}

/* -----------------------------------------------------------------------------
    Workspace
 ---------------------------------------------------------------------------- */
#workspace {
    width: auto;
    border-bottom: 1px solid gray;
    position: relative;
}

#workspace #editor {
    height: 60%;
}

#workspace #console {
    position: relative;
    height: 40%;
}

/* -----------------------------------------------------------------------------
    Workspace -> Editor
 ---------------------------------------------------------------------------- */
 #workspace #input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

#workspace #input .CodeMirror {
    height: 100%;
}

#workspace #input .CodeMirror-scroll {
    margin-bottom: 0;
    padding-bottom: 0;
}

.editor-breakpoints {
    width: 100%;
    position: absolute;
}

.editor-breakpoint {
    color: blue;
    width: 100%;
}

.editor-breakpoint:after {
    content: "â—";
}

/* -----------------------------------------------------------------------------
    Workspace -> Console
 ---------------------------------------------------------------------------- */
#console {
    border-top: 1px solid lightgray;
    
    overflow: hidden;
}
 
#console .controls {
    z-index: 500;
    
    position: absolute;
    top: 0;
    
    width: 100%;
    height: 18px;
    
    border-bottom: 1px solid lightgray;
    background: white;
}

#console #output {
    position: relative;
    overflow: scroll;

    height: 100%;
    max-height: 100%;
    
    margin-top: 18px;
}

#console #output > ul {
    box-sizing: border-box;

    position: absolute;
    bottom: 0px;
    width: 100%;
    max-height: 100%;

    overflow: scroll;

    margin: 0;
    padding: 0;
    padding-bottom: 38px
}

#console #output li {
    width: 100%;
}

#console .run-buttons > *,
#console .debug-buttons > * {
    display: block;
    padding: 0 1em;
    font-size: 0.90em;
}

#console .run-buttons {
    float: right;
}

#workspace .run-buttons > * {
    float: right;
    border-left: 1px solid gray;
}

#workspace .debug-buttons {
    float: left;
}
#workspace .debug-buttons > * {
    float: left;
    border-right: 1px solid gray;
}

#console #output .output-value {
    width: 100%;
    min-height: 1em;
    border-top: 1px solid lightgray;
}

#console #output .output-error > div > div > .ui-accordion-header {
    color: red;
}

.output-value.input-value > .ui-icon {
    float: left;
}

.output-value.input-value .CodeMirror {
    height: auto;
}


.output-value.input-value .CodeMirror-lines {
    padding: 0;
}

/* -----------------------------------------------------------------------------
    Object Browser
 ---------------------------------------------------------------------------- */
.object-browser.ui-accordion .ui-accordion-header {
    margin-top: 0;
    background: none;
}

.ui-accordion-header.ui-state-disabled .ui-accordion-header-icon {
    display: none;
}

.ui-accordion-header.ui-state-disabled {
    opacity: 1;
}

.object-browser .child-value {
    display: inline;
}

.child-key-label {
    color: black;
}
.child-key-label:after {
    content: ": "
}

.value-label {
    font-weight: normal;
}

.object-browser.type-number .value-label {
    color: green;
}

.object-browser.type-string .value-label {
    color: red;
}

.object-browser.type-string .value-label:before {
    content: "\"";
}

.object-browser.type-string .value-label:after {
    content: "\"";
}



/* -----------------------------------------------------------------------------
    Workspace -> Console -> Interactive
 ---------------------------------------------------------------------------- */
#interactive {
    position: absolute;
    width: 100%;
    bottom: 0;
    border-top: 1px solid lightgray;
    background: white;
}

#interactive .input-icon {
    float: left;
}

#interactive .input-icon .ui-icon {
    margin-top: 2px;
}

.output-interactive-textarea {
    overflow-y: hidden;
    background: red;
}

.output-interactive-textarea .CodeMirror-hscrollbar {
    display: none;
}

#interactive-console {
    float: left;
    clear: both;
    max-width: 100%;
}

#output-interactive-controls {
    float: right;
}

/* -----------------------------------------------------------------------------
    Call stack
 ---------------------------------------------------------------------------- */
#tab-callstack {
    padding: 0;
}
 
.callstack {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.stack-frame {
    width: 100%;
    margin: 0;
    padding: 0.1em 0;
    padding-left: 1em;
    border-top: 1px solid lightgray;
    font-size: 1em;
}

.stack-frame:last-child {
    border-bottom: 1px solid lightgray;
}

.active-frame {
    background: rgba(0, 183, 235, 0.25);
}

.stack-frame-name {
    display: block;
    width: 100%;
}

.stack-frame-name:hover {
    text-decoration: underline;
}
 

/* -----------------------------------------------------------------------------
    Breakpoints
 ---------------------------------------------------------------------------- */
#tab-breakpoints {
    padding: 0;
}

.breakpoints {
    list-style: none;
    margin: 0;
    padding: 0;
}

.breakpoint {
    width: 100%;
}

.breakpoint > a {
    display: block;
    width: 100%;
    
    border: 1px solid transparent;
    border-bottom: 1px solid #e3e3e3;
}

.breakpoint > a.enabled-popover {
    border: 1px solid #e3e3e3;
    background-color: #f5f5f5;
}

/* -----------------------------------------------------------------------------
    
 ---------------------------------------------------------------------------- */
button:disabled {
    opacity: 0.50;
}

.ui-corner-all {
    border-radius: 0;
}

.debug-buttons button {
    color: black;
    border: 0;
    background: transparent;
    margin: 0;
    border: 0;
}

.debug-buttons button:hover {
    opacity: 0.75;
}

.debug-buttons button:disabled {
    opacity: 0.50;
}

.run-buttons button {
    padding: 0.1em 0.25em;
    border: 0;
    background: transparent;
}

.ui-state-default .ui-icon {
    background-image: url(/resources/jquery-ui-1.10.3/css/ui-lightness/images/ui-icons_222222_256x240.png);
}


/* -----------------------------------------------------------------------------
    Environments
 ---------------------------------------------------------------------------- */
#tab-state {
    padding: 0;
}

.environments {
    margin: 0;
    padding: 0;
}

.environment {
    list-style: none;
    border-bottom: 1px solid gray;
}

.binding-list {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
}

.binding-list > .binding {
    margin-bottom: 0.25em;
}

.binding {
    list-style: none;
    font-size: 0.90em;
    font-weight: normal;
    line-height: 100%;
    border-bottom: 1px solid lightgray;
}

.binding .binding-name {
    font-weight: bold;
}

.binding .binding-value {
    margin-left: 0.15em;
}


#output-console {
    box-sizing: border-box;
    height: 100%;
    padding-bottom: 18px;
    overflow-y: scroll;
    list-style: none;
    margin: 0;
}


.object-browser {
    font-size: 1em;
}

.object-children > .object-value {
    display: inline-block;
}

.ui-accordion-header,
.ui-accordion .ui-accordion-header {
    color: black;
    border: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.ui-accordion  .ui-accordion-content {
    border: none;
    background: none;
    margin: 0;
    margin-left: 1em;
    padding: 0;
}


/* -----------------------------------------------------------------------------
    BreakpointEditor
 ---------------------------------------------------------------------------- */
.breakpoint-editor-popover .popover-content {
    margin: 0;
    padding: 0;
}

.breakpoint-editor-popover.right .arrow::after {
    border-right-color: #f7f7f7;
}

.breakpoint-editor {
    width: 100%;
    position: relative;
    
    min-width: 256px;
    max-width: 800px;
    
    min-height: 100px;
    max-height: 300px;
}

.breakpoint-editor .CodeMirror {
    height: auto;
    min-height: inherit;
    max-height: inherit;
    width: 100%;
}

.breakpoint-editor .CodeMirror-scroll {
    margin-bottom: 0;
    padding-bottom: 0;
    
    min-height: inherit;
    max-height: inherit;
    
    overflow-y: scroll;
    overflow-x: auto;
}

/* -----------------------------------------------------------------------------

 ---------------------------------------------------------------------------- */
 
 
 
.active-line {
    background: rgba(0, 183, 235, 0.25);
}




/* From http://nicolasgallagher.com/micro-clearfix-hack/ */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}